{% extends "./backend/pages/base.html" %}
{% block title %} Games{% endblock %}
{% block head %}
<link href="/css/games.css?v={{version}}" rel="stylesheet">
{% endblock %}
{% block app %}
<div class="page">
<header>
<h1 > winners:</h1>
{% if winners|length > 0 %}
<!--<nav><span class="filter clickable">All</span> | <span class="filter clickable">Open</span> | <span class="filter clickable">Won</span> | <span class="filter clickable" >Failed</span></nav>-->
{% endif %}
</header>
<main class="game-list">
{% for w in winners %}
    <a class="game shadowed {{w}}" href="">
        <div class="ribbon"><span>{{w}}</span></div>
        <div class="game-bottom">
            {{w}}
        </div>
    </a>
{% else %}
    <div class="no-games">No available players :(</div>
{% endfor %}
</main>
<footer>
<!--    <form method="POST" action="/games">-->
<!--        <h3>New Game</h3>-->
<!--        <label>Name:<input type="text" name="name" required></label>-->
<!--        <input type="submit" class="clickable" value="Create" />-->
<!--    </form>-->
</footer>
</div>
{% endblock %}