html, body{
    margin:0px;
    font-family:Arial;
    overflow: hidden;
}

.main{
    display:flex;
    height: 100vh;
}

.players{
    background-color: cornflowerblue;
    padding:10px;
}

.player{
    background-color: #DDD;
    border-radius: 3px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.player-name{
    margin-left:3px;
}
.player-status{
    margin-left:3px;
    padding: 5px;
    background-color:lightgreen;
}

a{
    color:darkorange;
    text-decoration: none;
}

ul{
    list-style: none;
    padding:0px;
    margin:0px;
}

[onclick], .clickable, button{
    cursor: pointer;
}

.shadowed{
    -webkit-box-shadow: 10px 10px 35px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 35px -13px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 35px -13px rgba(0,0,0,0.75);
}

button{
    border:none;
    padding:20px 20px;
    border-radius: 20px;
    outline:none;
}

.simon{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    background-color: #333;
    border-radius: 100%;
    padding: 50px;
    margin:auto;
    box-shadow: 10px 10px 53px -15px rgba(0,0,0,0.75);
}


.simon .light-btn.disabled{
    cursor: default;
}

.simon .light-btn{
    box-sizing: border-box;
    -webkit-border-radius:320px 20px 20px;
    -moz-border-radius:320px 20px 20px;
    -o-border-radius:320px 20px 20px;
    border-radius:320px 20px 20px;
    width:180px;
    height:180px;
    margin:10px;
    background-image: url('/images/plastic.png');
    background-position: center;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    opacity: 0.7;
}

.simon .light-btn:nth-child(2){
    transform: rotate(90deg);
}
.simon .light-btn:nth-child(3){
    transform: rotate(270deg);
}
.simon .light-btn:nth-child(4){
    transform: rotate(180deg);
}

.simon .light-btn.active{
    border:3px solid black;
    opacity: 1;
}

.simon .play-btn{
    position: absolute;
    background-color: white;
    left: 50%;
    top: 50%;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    transform:translateX(-50%) translateY(-50%);
    color:red;
    font-family: Lobster;
    font-size: 30px;
    box-shadow: inset 0px 0px 26px 0px rgba(0,0,0,0.62);
}

.game-status .status-text, .join-form{
    display:none;
}

[data-status="open"] .join-form{
    display:inline-block;
}

[data-status="loading"] .status-text.loading{
    display: inline;
}

[data-status="on"] .status-text.on{
    display: inline;
}

[data-status="open"] .status-text.open{
    display: inline;
}

[data-status="over"] .status-text.over{
    display: inline;
}