html, body{
    margin:0px;
    font-family:Arial;
}

h1{
    font-family:"Roboto Slab";
}

a{
    color:darkorange;
    text-decoration: none;
}

ul{
    list-style: none;
    padding:0px;
    margin:0px;
}

[onclick], .clickable, button{
    cursor: pointer;
}

.shadowed{
    -webkit-box-shadow: 10px 10px 35px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 35px -13px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 35px -13px rgba(0,0,0,0.75);
}